<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
      <div class="profile-container">
       <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <tr>
        <th>
          <br>
            <strong>name</strong>
        </th>
        <th class = "profile-name">
          <strong><%= @user.name %></strong>
        </th>
      </tr>
      <tr>
        <th>
          <br>
          <strong>introduction</strong>
        </th>
        <th class = "profile-introduction">
          <strong><%= @user.introduction %></strong>
        </th>
      </tr>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      </div>


      <h2>New book</h2>

      <%= form_with model: @book, local:true do |f| %>

        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <br><%= f.submit 'Create Book' %>
      <% end %>
    </div>
      <div class="col-lg-8">
       <h2>Books</h2>


        <table class="table table-striped">
          <thead>
            <tr>
             <th class="col-md-2" id="users_show_nill"></th>
             <th class="col-md-2" id="users_show_Title">Title</th>
             <th class="col-md-3" id="users_show_Opinion">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
                <td>
                  <%= link_to book_path(book.id) do %>
                    <%= book.title %>
                  <% end %>
                </td>
               <td><%= book.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
<footer>
  <p>CopyRight Infratop.inc</p>
</footer>